.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Change the background color as needed */
    padding: 10px;
    text-align: center;
    color: black;
  }
  